
.carousel-caption {
  top:50px;
}

.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.headline-container-slide {
  text-align:center;
  width:100%;
  max-height: 70vh;
  color: white;
  font-size: 2em;
  margin:0 auto;
  background: rgba(0, 0, 0, 0.5);
  padding-top: 3rem;
  padding-bottom: 5rem;
}

.fa-stack{
  font-size: 1.5em;
}

.fas fa-plus-circle{
  margin-right:10px;
  cursor: pointer;
  max-height: 70vh;
}

.chapter-header{
  font-family: 'Montserrat', sans-serif;
  font-size: .75em;
  text-decoration: underline #ff5f00;
  color: #ff5f00;
  font-weight: 600;
  max-height: 70vh;
}

.story-header{
  font-size:3em;
  padding-bottom:20px;
  font-family: 'Playfair Display', serif;
  font-weight: 100;
  letter-spacing: 3px;
  max-height: 70vh;
}

.hero-text{
  font-family: 'Montserrat', sans-serif;
  font-size:.8em;
  padding-bottom:10px;
  width: 90%;
  max-width:1100px;
  margin: 0 auto;
  //text-shadow: 3px 3px 10px black;
  max-height: 70vh;
}

#social-bar{
  display: block;
  float: right;
  margin-top:5px;
  width: 15%;
  font-size: 1.5rem;
  color: black;
}

#logo{
  display: block;
  float: left;
  margin-top:5px;
  width: 20%;
  font-size: 1.5rem;
  margin-left: 2em;
}

.img-logo{
  width: 30%;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  width:50px;
  height:50px;
}

.carousel-indicators li {
  height:5px;
}

.hide {
  display:none;
}


@media(max-width:1300px){
  .story-header {
    font-size:2.5em;
  }

  .chapter-header {
    font-size:.7em;
  }

  .hero-text {
    font-size:.7em;
  }

}

@media(max-width:1050px){
  .story-header {
    font-size:2em;
  }

  .chapter-header {
    font-size:.5em;
  }

  .hero-text {
    font-size:.5em;
  }

}

@media(max-width:500px) {

  .story-header {
    font-size:1.5em;
  }

  .carousel-control-prev-icon, .carousel-control-next-icon {
    width:20px;
    height:20px;
  }
  .carousel-indicators li {
    height:3px;
  }

}
