
.carousel-caption {
  top:50px;
}

.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.carousel-control-prev,
.carousel-control-next {
  opacity: 1;
}

.li{
  opacity: 1;
}

.headline-container-slide {
  text-align:center;
  width:100%;
  max-height: 70vh;
  color: white;
  font-size: 2em;
  margin:0 auto;
  background: rgba(0, 0, 0, 0.5);
  margin-top: 50px;
  padding-top: 2rem;
  padding-bottom: 5rem;
}

.read-more {
    border-radius: 5px;
    color: white;
    display: block;
    margin: 0 auto;
    padding: 0.5em;
    text-align: center;
    text-decoration: none;
    width: 7em;
    margin-top:20px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}

.read-more:focus,
.read-more:hover {
    color: black;
}

.no-context {
    background-color: #ff5f00;
}

.chapter-header{
  font-family: 'Montserrat', sans-serif;
  font-size: .75em;
  color: #ff5f00;
  font-weight: 600;
  max-height: 70vh;
}

.story-header{
  font-size:3em;
  padding-bottom:20px;
  font-family: 'Playfair Display', serif;
  font-weight: 100;
  letter-spacing: 3px;
  max-height: 70vh;
}

.hero-text{
  font-family: 'Montserrat', sans-serif;
  font-size:.8em;
  padding-bottom:10px;
  width: 90%;
  max-width:1100px;
  margin: 0 auto;
  //text-shadow: 3px 3px 10px black;
  max-height: 70vh;
}

#social-bar-carousel{
  margin-bottom:20px;
  font-size: 1.5rem;
  color: white;
  letter-spacing: 5px;
}


#cns-logo {
  position: absolute;
  top: 5px;
  left:50%;
  width:90px;
  margin-left:-45px;
  bottom: 5px;
}

.img-logo{
  width: 30%;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  width:50px;
  height:50px;
}

.carousel-indicators li {
  height:5px;
}

.hide {
  display:none;
}

@charset "UTF-8";

a{
 color: inherit;
  text-decoration: inherit;
}


@media(max-width:1300px){
  .story-header {
    font-size:2.5em;
  }

  .chapter-header {
    font-size:.7em;
  }

  .hero-text {
    font-size:.7em;
  }

}

@media(max-width:1050px){
  .story-header {
    font-size:2em;
  }

  .chapter-header {
    font-size:.5em;
  }

  .hero-text {
    font-size:.5em;
  }

}

@media(max-width:500px) {

  .story-header {
    font-size:1.5em;
  }

  .carousel-control-prev-icon, .carousel-control-next-icon {
    width:20px;
    height:20px;
  }
  .carousel-indicators li {
    height:3px;
  }

}
