/* STRUCTURAL ELEMENTS */

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Playfair Display', serif;
  background-color: #FFFFFF	;
  color: black;
}

a:hover {
    color: inherit;
    text-decoration: inherit;
  }

/* LOGO AND SOCIAL ICONS NAV BAR */

#tophat {
  width:100%;
  color:#fff;
  background:#000;
  font-family: 'Montserrat', sans-serif;
  padding:3px;
  text-align:center;
  font-size:.75em;
  text-transform:uppercase;
  position:fixed;
  z-index:10;
  font-weight:700;
  opacity:.8;
}

#cns-logo {
  position: absolute;
  top: 5px;
  left:50%;
  width:90px;
  margin-left:-45px;
  bottom: 5px;
  opacity: .8;
}

.red{
  color:#F23030;
}

.img-logo{
  width: 30%;
  text-align: center;
  margin:0 auto;
}


i.far{
  font-size: 1.3rem;
}

.underline-effect{
  text-decoration: underline;
}

.underline-effect:hover{
  text-decoration: none;
}

#social-icons {
    margin: 0 auto;
    text-align: center;
}

#social-icons-story {
    float:left;
    text-align: center;
}

.icon-facebook:before {
    content: "\e620";
}

.icon-twitter:before {
    content: "\e621";
}

*, ::after, ::before {
    box-sizing: border-box;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-twitter, .icon-facebook {
    margin-right: 10px;
    font-size: 2em;
    color: #F23030;
    cursor: pointer;
}

/* CHART ELEMENTS */


.chart-title{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
  text-transform: uppercase;
}

.chart-description{
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
}

.chart-author{
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  font-size: .7em;
  font-weight: 100px;
  padding-bottom: 20px;
  text-transform:uppercase;
}

.chart-source{
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  font-weight: 100px;
  font-style: italic;
}

/* HERO ELEMENTS */

.hero-container {
  height: 100vh;
}

.cover-img {
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.relative-img {
  position: relative;
}

.headline-container-slide {
  top: -85vh;
  font-weight: 600;
  text-align: center;
  color: white;
  font-size: 2em;
  position: relative;
  margin:0 auto;
  background: rgba(0, 0, 0, 0.5);
  padding-top: 5rem;
  padding-bottom: 2rem;
  overflow: hidden;
  min-height:70%;
}

.chapter-header{
  font-family: 'Montserrat', sans-serif;
  font-size: .75em;
  width:35%;
  background-color: black;
  margin: 0 auto;
  letter-spacing: 3px;
}

.story-header{
  font-size:3.5em;
  font-family: 'Playfair Display', serif;
  padding-bottom:20px;
  font-weight: 100;
  letter-spacing: 3px;
}

.hero-text{
  font-family: 'Montserrat', sans-serif;
  font-size:.8em;
  padding-bottom:10px;
  width: 90%;
  max-width:1100px;
  margin: 0 auto;
  font-weight: 200;

}

.fas fa-chevron-circle-down{
  margin-right:10px;
  font-size:2.2em;
  cursor: pointer;
}

.fa-stack{
  font-size: 1.5em;
}

.fa-stack:hover{
  font-size:1.8em;
  transition: all 0.3s ease-in-out;
}


/* MAIN STORY CONTAINER ELEMENTS */

.container {
  text-align:center;
  width:90%;
  max-width:900px;
}

.back-button{
  font-size: 2.5rem;
  text-align: left;
}



/* TEXT ELEMENTS*/

p {
  text-align:left;
  line-height:210%;
  font-size: 1.25em;
  font-family: 'Playfair Display', serif;
}

.opening-letter::first-letter {
  font-family: 'Playfair Display', serif;
	font-size: 4em;
	float: left;
  line-height: 0.8;
  margin-top: 0.1em; /* for optical baseline alignment */
  margin-left: -0.05em; /* for optical alignment to the left */
  margin-right: 0.05em; /* for optical alignment to the right */
  font-weight:400;
  background: #F23030;
  color: white;
  padding:5px 10px 5px 10px;
  margin-right: 10px;
}

.first-words{
  text-transform: uppercase;
}


.scrolling-text{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25em;
}


/* TABLE OF CONTENTS ELEMENTS */

.more-stories{
  text-align:center;
  width:90%;
  margin: 0 auto;
}

.more-stories-bottom{
  text-align:center;
  width:90%;
  margin: 0 auto;
}

.small-head {
  font-size:1.5em;
  font-family: 'Montserrat', sans-serif;
}

.table-contents-box {
  margin: 20px 0;
}

.hover-box{
  margin:0 0 10px 0;
  overflow: hidden;
  cursor:pointer;
}

.hover-box .hover-img{
  position: relative;
  overflow: hidden;
}

.hover-box .hover-img img{
  width:100%;
  height:240px;
}

.hover-box .hover-img .over-layer{
  background-color: rgba(0, 0, 0, 0.7);
  text-align: left;
  padding: 5%;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  line-height: 1;

  /* animation stuff */
  transition: all 0.3s ease-in-out;
  top:55%;
}

.hover-box:hover .over-layer{
  opacity: 1;
  top:0;
  bottom: 0;
  line-height: 1.5;
}

.hover-box .hover-img .over-layer h3{
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size:1.25em;
  padding-top: 2px;
  text-transform: uppercase;
}

.hover-box .hover-img .over-layer h2{
  color: #F23030;
  font-family: 'Montserrat', sans-serif;
  font-size:1em;
  padding-top: 2px;
}

.hover-box .hover-img .over-layer .hover-info{
  color:#fff;
  height:300px;
}

.hover-box .hover-img .over-layer .hover-info p{
  position:relative;
  top:25px;
  color: white;
  font-family: 'Playfair Display', serif;
  line-height:150%;
  text-align: left;
  width:100%;
  font-size: 1em;
}

.hover-text {
  opacity: 0;
  transition: opacity .6s;
}

.plus-sign {
  position:relative;
  top:15px;
}

.display{
  opacity: 1;
  transition: opacity .6s;
}

/* TABLE OF CONTENTS ELEMENTS FOR TABLET AND MOBILE */

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
}

.card-body{
  background-color: rgba(0, 0, 0, 0.9);
}

 :root {
   --gutter: 20px;
 }

 .app {
   padding: var(--gutter) 0;
   display: grid;
   grid-gap: var(--gutter) 0;
   grid-template-columns: var(--gutter) 1fr var(--gutter);
   align-content: start;
 }

 .app > * {
   grid-column: 2 / -2;
 }

 .app > .full {
   grid-column: 1 / -1;
 }

 /* Demo styles */

 ul {
   list-style: none;
   padding: 0;
 }

 .app {
   width: 90%;
   overflow-y: scroll;
   margin: 0 auto;
 }

 .card-container {
  width: 100%;
  height: auto;
  margin: auto 0;
  display: flex;
  justify-content: center;
}

.card-container ul {
  text-align: center;
  margin: auto 0;
}

.card-container li {
  list-style-type: none;
  padding: .5em .5em .5em .5em;
  text-align: left;
}

.scroll-more{
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  text-align: center;
}

.card-title{
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  color:#F23030;
  font-weight: 500;
  padding-bottom: 5px;
}

.card-subtitle{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color:white;
  font-weight: 500;
  padding-bottom: 10px;
}

.card-text{
  color:white;
  font-family: 'Playfair Display', serif;
  font-size: 15px;
}

.btn{
  background-color: #F23030;
  border-color: #F23030;
}

.btn:hover{
  background-color: #ff8e44;
  border-color: #ff8e44;
}


.mobile-toc{
  display: none;
}

/* PARTNERSHIP ELEMENTS */

#credit {
  text-align:left;
  font-family: 'Montserrat', sans-serif;
  width:80%;
  margin:0 auto;
  padding-top:40px;
  padding-bottom:40px;
  font-size: 1.25em;
}

.sponsor-container {
  width:100%;
  background:#fff;
}

.sponsor-container-inside {
  width:100%;
  max-width:1000px;
  background:#fff;
  margin:0 auto;
}

.sponsor {
  max-width:200px;
  margin:0 auto;
}

.row-sponsor {
  text-align:center;
  margin-bottom:20px;
}

 .row-sponsor2 {
  margin-right: 0px!important;
  margin-left: 0px!important;
 }


.humdity-graphic {
  width:100%;
  max-width: 917px;
}


/* MEDIA QUERIES */

 @media(max-width:1300px){
   .story-header {
     font-size:2.5em;
   }

   .chapter-header {
     font-size:.7em;
   }

   .hero-text {
     font-size:.7em;
   }

   #social-bar{
     font-size:1.2em;
   }

   .annotations {
     font-size: 18px;
     position: -webkit-sticky;
     position: sticky;
   }

   .annotations-1 {
     font-size: 18px;
     position: -webkit-sticky;
     position: sticky;
   }

   .image-scrolly{
     width:100%;
   }


 }

 @media(max-width:1050px){
   .story-header {
     font-size:2em;
   }

   .chapter-header {
     font-size:.5em;
   }

   .hero-text {
     font-size:.5em;
   }

   #social-bar{
     font-size:1em;
   }

   .annotations {
     font-size: 15px;
     position: -webkit-sticky;
     position: sticky;
   }

   .annotations-1 {
     font-size: 15px;
     position: -webkit-sticky;
     position: sticky;
   }

   .image-scrolly{
     width:100%;
   }

 }


 @media(max-width:500px) {

   .chart-title{
     font-size: 1em;
     }

   .chart-description{
     font-size: .7em;
   }

   #tophat {
     position:relative;
     font-size:.5em;
     }

   .text-title{
     font-size:1.75em;
   }

   .chapter-title, .chapter-title-alt {
     font-size:1.5em;
   }


   p {
     line-height:180%;
     font-size: 1em;
   }

   p#credit {
     font-size:.8em;
   }


   .small-head {
     font-size:1.25em;
   }

   .pullquote-top {
     font-size:1.5em;
   }

   .pullquote-bottom {
     font-size:1em;
   }


   .fa-stack{
     font-size: 1em;
   }

   .fa-stack:hover{
     font-size:1.3em;
     transition: all 0.3s ease-in-out;
   }


   .story-header {
     font-size:1em;
   }

   #cns-logo {
     width: 50px;
     margin-left:-25px;
   }

   .carousel-control-prev-icon, .carousel-control-next-icon {
     width:20px;
     height:20px;
   }

   .hero-text, .chapter-header {
     font-size:.4em;
   }

   .carousel-indicators li {
     height:3px;
   }

   #social-bar{
     font-size:.7em;
   }

   .annotations {
     font-size: 15px;
     position: -webkit-sticky;
     position: sticky;
   }

   .annotations-1 {
     font-size: 15px;
     position: -webkit-sticky;
     position: sticky;
   }

   .image-scrolly{
     width:100%;
   }


   .scrolling-text{
     font-family: 'Montserrat', sans-serif;
     font-size: .8em;
   }



 }


 /* MEDIA QUERIES FOR TABLE OF CONTENTS */
 @media screen and (max-width: 500px) {
   .annotations {
     width:80%;
     font-size:1em;
   }

   .annotations-1 {
     width:80%;
     font-size:1em;
   }
 }

 @media screen and (min-width: 800px) {
   .tablet-mobile{
     display: none;
   }

   .table-of-contents{
     display: block;
   }

 }

 @media screen and (max-width: 800px) {
   .tablet-mobile{
     display: block;
   }

   .table-of-contents{
     display: none;
   }

 }

 /* METRICS */


 @font-face {
   font-family: 'icons';
   src:url('../icons/icons.eot?fylnot');
   src:url('../icons/icons.eot?#iefixfylnot') format('embedded-opentype'),
     url('../icons/icons.woff?fylnot') format('woff'),
     url('../icons/icons.ttf?fylnot') format('truetype'),
     url('../icons/icons.svg?fylnot#icons') format('svg');
   font-weight: normal;
   font-style: normal;
 }

 [class^="icon-"], [class*=" icon-"] {
   font-family: 'icons';
   speak: none;
   font-style: normal;
   font-weight: normal;
   font-variant: normal;
   text-transform: none;
   line-height: 1;

   /* Better Font Rendering =========== */
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
 }


 @charset "UTF-8";

 a{
 	color: inherit;
   text-decoration: inherit;
 }
