/* STRUCTURAL ELEMENTS */

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Playfair Display', serif;
  background-color: #FFFFFF	;
  color: black;
}

/* LOGO AND SOCIAL ICONS NAV BAR */


#social-bar-white{
  float: right;
  margin-top:5px;
  margin-right: 5%;
  font-size: 1.5rem;
  color: white;
  letter-spacing: 5px;
  text-shadow: 2px 2px 2px #000;
}

#social-bar-black{
  float: right;
  margin-top:5px;
  margin-right: 5%;
  font-size: 1.5rem;
  color: black;
  letter-spacing: 5px;
}

#logo{
  float: left;
  margin-top:5px;
  width: 15%;
  margin-left: 5%;
  font-size: 1.5rem;
}

.img-logo{
  width: 30%;
}


/* HERO ELEMENTS */

.hero-container {
  height: 100vh;
}

.cover-img {
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.relative-img {
  position: relative;
}

.headline-container-slide {
  top: -85vh;
  font-weight: 600;
  text-align: center;
  color: white;
  font-size: 2em;
  position: relative;
  margin:0 auto;
  background: rgba(0, 0, 0, 0.5);
  padding-top: 5rem;
  padding-bottom: 5rem;
  overflow: hidden;
}

.chapter-header{
  font-family: 'Montserrat', sans-serif;
  font-size: .75em;
  text-decoration: underline #ff5f00;
  color: #ff5f00;
}

.story-header{
  font-size:3.5em;
  font-family: 'Playfair Display', serif;
  padding-bottom:20px;
  font-weight: 100;
  letter-spacing: 3px;
}

.hero-text{
  font-family: 'Montserrat', sans-serif;
  font-size:.8em;
  padding-bottom:10px;
  width: 90%;
  max-width:1100px;
  margin: 0 auto;
  //text-shadow: 3px 3px 10px black;

}

.fas fa-chevron-circle-down{
  margin-right:10px;
  font-size:2.2em;
  cursor: pointer;
}

.fa-stack:hover{
  font-size:2.5em;
  transition: all 0.3s ease-in-out;
}

.fas fa-chevron-circle-down:hover{
  color: white;
}

.fa-stack{
  font-size: 1.5em;
}

/* MAIN STORY CONTAINER ELEMENTS */

.container {
  text-align:center;
  width:90%;
  max-width:900px;
}

.back-button{
  font-size: 2.5rem;
  text-align: left;
}

.back-button-text{
  font-size: 1.7rem;
  padding-left: 10px;
  display:inline-block;
}

.orange {
  color:#ff5f00;
}


/* TEXT ELEMENTS*/

p {
  text-align:left;
  line-height:210%;
  font-size: 20px;
  font-family: 'Playfair Display', serif;
}

.opening-letter::first-letter {
  font-family: 'Playfair Display', serif;
	font-size: 4em;
	float: left;
  line-height: 0.8;
  margin-top: 0.1em; /* for optical baseline alignment */
  margin-left: -0.05em; /* for optical alignment to the left */
  margin-right: 0.05em; /* for optical alignment to the right */
  font-weight:400;
  background: #ff5f00;
  color: white;
  padding:5px 10px 5px 10px;
  margin-right: 10px;
}

.first-words{
  text-transform: uppercase;
}

/* TABLE OF CONTENTS ELEMENTS */

.more-stories{
  text-align:center;
  width:90%;
  margin: 0 auto;
}

.small-head {
  font-size:1.5em;
  font-family: 'Montserrat', sans-serif;
}

.table-contents-box {
  margin: 20px 0;
}

.hover-box{
  margin:0 0 10px 0;
  overflow: hidden;
  cursor:pointer;
}

.hover-box .hover-img{
  position: relative;
  overflow: hidden;
}

.hover-box .hover-img img{
  width:100%;
  height:240px;
}

.hover-box .hover-img .over-layer{
  background-color: rgba(0, 0, 0, 0.7);
  text-align: left;
  padding: 5%;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  line-height: 1;

  /* animation stuff */
  transition: all 0.3s ease-in-out;
  top:55%;
}

.hover-box:hover .over-layer{
  opacity: 1;
  top:0;
  bottom: 0;
  line-height: 1.5;
}

.hover-box .hover-img .over-layer h3{
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size:1.25em;
  padding-top: 2px;
  text-transform: uppercase;
}

.hover-box .hover-img .over-layer h2{
  color: #ff5f00;
  font-family: 'Montserrat', sans-serif;
  font-size:1em;
  padding-top: 2px;
}

.hover-box .hover-img .over-layer .hover-info{
  color:#fff;
  height:300px;
}

.hover-box .hover-img .over-layer .hover-info p{
  position:relative;
  top:25px;
  color: white;
  font-family: 'Playfair Display', serif;
  line-height:150%;
  text-align: left;
  width:100%;
  font-size: 1em;
}

.hover-text {
  opacity: 0;
  transition: opacity .6s;
}

.plus-sign {
  position:relative;
  top:15px;
}

.display{
  opacity: 1;
  transition: opacity .6s;
}

/* PARTNERSHIP ELEMENTS */

#credit {
  text-align:left;
  font-family: 'Montserrat', sans-serif;
  width:80%;
  margin:0 auto;
  padding-top:40px;
  padding-bottom:40px;
  font-size: 18px;
}

.sponsor-container {
  width:100%;
  background:#fff;
}

.sponsor-container-inside {
  width:100%;
  max-width:1000px;
  background:#fff;
  margin:0 auto;
}

.sponsor {
  max-width:200px;
  margin:0 auto;
}

.row-sponsor {
  text-align:center;
  margin-bottom:20px;
}

 .row-sponsor2 {
  margin-right: 0px!important;
  margin-left: 0px!important;
 }

/* MEDIA QUERIES */

 @media(max-width:1300px){
   .story-header {
     font-size:2.5em;
   }

   .chapter-header {
     font-size:.7em;
   }

   .hero-text {
     font-size:.7em;
   }

   #social-bar{
     font-size:1.2em;
   }

 }

 @media(max-width:1050px){
   .story-header {
     font-size:2em;
   }

   .chapter-header {
     font-size:.5em;
   }

   .hero-text {
     font-size:.5em;
   }

   #social-bar{
     font-size:1em;
   }
 }


 @media(max-width:500px) {

   .story-header {
     font-size:1.5em;
   }

   .carousel-control-prev-icon, .carousel-control-next-icon {
     width:20px;
     height:20px;
   }

   .carousel-indicators li {
     height:3px;
   }

   #social-bar{
     font-size:.7em;
   }

 }


 /* METRICS */

 span{
     font-size: 4em;
     color: rgba(51,34,68,0.3)
 }

 @font-face {
   font-family: 'icons';
   src:url('../icons/icons.eot?fylnot');
   src:url('../icons/icons.eot?#iefixfylnot') format('embedded-opentype'),
     url('../icons/icons.woff?fylnot') format('woff'),
     url('../icons/icons.ttf?fylnot') format('truetype'),
     url('../icons/icons.svg?fylnot#icons') format('svg');
   font-weight: normal;
   font-style: normal;
 }

 [class^="icon-"], [class*=" icon-"] {
   font-family: 'icons';
   speak: none;
   font-style: normal;
   font-weight: normal;
   font-variant: normal;
   text-transform: none;
   line-height: 1;

   /* Better Font Rendering =========== */
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
 }


 @charset "UTF-8";

 a{
 	color: inherit;
   text-decoration: inherit;
 }
