/* STRUCTURAL ELEMENTS */

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'PT Serif', serif;
  background-color: #FFFFFF	;
  color: black;
}

/* HERO ELEMENTS */

#cns-logo {
  position: absolute;
  top: 5px;
  left:50%;
  width:90px;
  margin-left:-45px;
  opacity:.7;
}

.hero-container {
  height: 100vh;
}

.cover-img {
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.relative-img {
    position: relative;
}

.headline-container-slide {
  top: -75vh;
  font-weight: 600;
  text-align: center;
  color: white;
  font-size: 2em;
  position: relative;
  margin:0 auto;
  background: rgba(0, 0, 0, 0.5);
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.top-head {
  font-size:3.5em;
  font-family: 'PT Serif 400', serif;
  margin:0 auto;
  letter-spacing: 3px;
  text-shadow: 1px 1px 1px #181818;
  opacity: 1;
  font-weight: 100;
}

.hero-text{
  font-family: 'Montserrat', sans-serif;
  font-size:.8em;
  padding-bottom:10px;
  width: 90%;
  max-width:1100px;
  margin: 0 auto;
  //text-shadow: 3px 3px 10px black;
}

.fas fa-chevron-circle-down{
  margin-right:10px;
  font-size:2.2em;
  cursor: pointer;
}


/* MAIN STORY CONTAINER ELEMENTS */

.container {
  text-align:center;
  width:90%;
  max-width:900px;
}

p {
  text-align:left;
  line-height:210%;
  font-size: 20px;
  font-family: 'PT Serif', serif;
}

.caption {
  width:100%;
  max-width:900px;
  margin:0 auto;
  padding-bottom:30px;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  color: black;
  text-align: center;
}

.initial-classical::first-letter {
  font-family: 'PT Serif', serif;
	font-size: 7.2em;
	float: left;
  line-height: 0.8;
  margin-top: 0.02em; /* for optical baseline alignment */
  margin-left: -0.05em; /* for optical alignment to the left */
  margin-right: 0.05em; /* for optical alignment to the right */
  font-weight:400;
}

.orange {
  color:#ff5f00;
}

.small-head {
  font-size:1.5em;
  font-family: 'Montserrat', sans-serif;
}

.embed-container{
  margin: 0 auto;
  margin-bottom: 15rem;
}

/* TABLE OF CONTENTS*/


.overlay-container {
  min-width: 200px;
  max-width: 400px;
  margin: .5%;
  float: left;
  text-align: center;
  position: relative;
  overflow: hidden;
  line-height: 0; /* details! fix the weird
                  pixel gap at the bottom of the image */
}

.overlay{
  background-color: rgba(0, 0, 0, 0.7);
  text-align: left;
  padding: 5%;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  line-height: 1;

  /* animation stuff */
  transition: all 0.3s ease-in-out;

  bottom: 0;
  top:40%;
}

.overlay h2{
  margin:0;
}
.overlay h4{
  margin:0;
}

.overlay-container:hover .overlay {
  opacity: 1;
  top:0;
  bottom: 0;
  line-height: 1.5;
}

.hover-text {
  color: white;
  display: none;
  font-size: 16px;
  padding-top: 10px;
  width: 80%;
  line-height:150%;
  font-family: 'PT Serif', serif;
}

.hover-paragraph:hover .hover-text {
  display: block;
}


.plus-sign{
  padding-top: 2px;
  text-align: right;
}

img {
  max-width: 100%;
  height: auto;
}

h2{
  font-family: 'Montserrat', sans-serif;
  font-size:20px;
  color: #ff5f00;
}

h4{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: white;
  padding-top: 5px;
}


/* ICONS ELEMENTS */

#social-icons {
  padding-top: 10px;
}

span{
    font-size: 4em;
    color: rgba(51,34,68,0.3)
}

.icon-twitter, .icon-facebook {
  margin-right:10px;
  font-size:2.2em;
  color:#ff5f00;
  cursor: pointer;
}

.icon-twitter:before {
  content: "\e621";
}
.icon-facebook:before {
  content: "\e620";
}

.icon-twitter:hover, .icon-facebook:hover {
  color:#cdcdcd;
}

@font-face {
  font-family: 'icons';
  src:url('../icons/icons.eot?fylnot');
  src:url('../icons/icons.eot?#iefixfylnot') format('embedded-opentype'),
    url('../icons/icons.woff?fylnot') format('woff'),
    url('../icons/icons.ttf?fylnot') format('truetype'),
    url('../icons/icons.svg?fylnot#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* CHAPTER ELEMENTS */



/* SPONSORS ELEMENTS */

#credit {
  text-align:left;
  font-family: 'Montserrat', sans-serif;
  width:80%;
  margin:0 auto;
  padding-top:40px;
  padding-bottom:40px;
  font-size: 18px;

}

#cns {
  display: block;
  width: 30%;
}

#park {
  display: block;
  width: 50%;
}

#ona {
  display: block;
  width: 75%;
}

#merrill {
  display: block;
  width: 70%;
  padding-top:20px;
}

#acf {
  display: block;
  width: 100%;
  padding-top:20px;
}

#npr {
  display: block;
  width: 40%;
}

#way {
  display: block;
  width: 100%;
  padding-top:25px;
}

.sponsor-container {
  width:100%;
  background:#fff;
}

.sponsor-container-inside {
  width:100%;
  max-width:1000px;
  background:#fff;
  margin:0 auto;
}

.sponsor {
  max-width:200px;
  margin:0 auto;
}

.row-sponsor {
  text-align:center;
  margin-bottom:20px;
}

 .row-sponsor2 {
   margin-right: 0px!important;
  margin-left: 0px!important;
 }

/* STORY TEMPLATE ELEMENTS */

.story-header{
 font-size:3.5em;
 padding-bottom:20px;
 font-family: 'PT Serif 400', serif;
 font-weight: 100;
 letter-spacing: 3px;
}

.chapter-header{
  font-family: 'Montserrat', sans-serif;
  font-size: .75em;
  text-decoration: underline #ff5f00;
  color: #ff5f00;
}

.story-container {
  background: white;
  width: 100%;
  margin: 0;
  position: relative;
  top: 0vh;
  background-color: white;
}

.back-button{
  font-size: 2.5rem;
  text-align: left;
}

.back-button-text{
  font-size: 1.7rem;
  padding-left: 10px;
  display:inline-block;
}

.text-title{
  font-family: 'PT Serif', serif;
  font-size:3em;
  letter-spacing: 2px;
  line-height:140%;
  font-weight: 200;
}

.text-subtitle{
  font-family: 'PT Serif', serif;
  font-size:1.7em;
  line-height:140%;
  font-weight: 200;
}

.text-author{
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
}

#social-icons-story{
  float: left;
}

.chapter-head {
    font-size: 2em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    margin: 0 auto;
}

/* GRAPHICS ELEMENTS */

.graphic-container{
  text-align:center;
  width:90%;
  max-width:900px;
}

.chart-title{
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  padding-bottom: 10px;
  text-transform: uppercase;
}

.chart-description{
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}

.chart-author{
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  font-weight: 100px;
}

.chart-source{
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  font-weight: 100px;
  font-style: italic;
}

#category{
  margin:0 auto;
}


/* FOR introduction-copy.html */
.story-subtitle{
  font-family: 'Montserrat', serif;
  font-size: 1em;
  font-weight: 100;
  color: black;
  text-align: center;
  margin: 0 auto;
}

.story-title{
  font-family: 'PT serif', serif;
  font-size: 4em;
  font-weight: 100;
  color: black;
  text-align: center;
  margin: 0 auto;
}

.col-3{
  background-color: #ff5f00;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  padding: 20px 0px 20px 0px;
}

.chapter-title{
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  text-align: center;
}

.chapter-subtitle{
  color: black;
  font-family: 'PT Serif', sans-serif;
  font-size: 17px;
  text-align: center;
}
