/* STRUCTURAL ELEMENTS */
html {
  scroll-behavior: smooth;
}

BODY {
  font-family: 'PT Serif', serif;
  background-color: #FFFFFF	;
  color: black;
}

.container {
  text-align:center;
  width:90%;
  max-width:900px;
}


#cns-logo {
  position: absolute;
  top: 5px;
  left:50%;
  width:90px;
  margin-left:-45px;
  opacity:.7;

}

.toc-container {
  position: relative;
  text-align: center;
  color: white;
  width:200px;
  margin:10px;
  padding:0px;
}


.embed-container {
  width:100%;
  padding: 25px;
  overflow: hidden;
  max-width:1000px;
  height: auto;

}

.story-container {
  background: white;
  width: 100%;
  margin: 0;
  position: relative;
  top: 0vh;
  background-color: white;
}

.splash-container {
  background: black;
  width: 100%;
  margin: 0;
  position: relative;
  top: 600vh;
  background-color: #181818;
}

.navbar {
  font-family: 'Montserrat', sans-serif;
}

.footer {
  background: #181818;
  padding-top:25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom:20px;
}


/* HERO ELEMENTS */


.hero-container {
  height: 100vh;
}

.cover-img {
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.fixed-img {
    position: fixed;
}

.relative-img {
    position: relative;
}

.slide {
  font-weight: 600;
  font-family: 'PT Serif', serif;
  text-align: center;
  color: white;
  font-size: 2em;
  position: relative;
  //text-shadow: 1px 1px;
  max-width:800px;
  margin:0 auto;
}

/* story headline slide */
.headline-container-slide {
  top: -75vh;
  font-weight: 600;
  text-align: center;
  color: white;
  font-size: 2em;
  position: relative;
  margin:0 auto;
  background: rgba(0, 0, 0, 0.5);
  padding-top: 5rem;
  padding-bottom: 5rem;
}


.headline-container-slide-nophoto {
  font-weight: 600;
  text-align: center;
  color: white;
  font-size: 2em;
  margin:0 auto;
  margin-top:100px;
}

/* slides 1-4 for the splash page */

.fullscreen-image {
  height: 100vh;
}

.slide1 {
  top: 45vh;
}

.slide2 {
  top: 200vh;
}

.slide3 {
  top: 350vh;
}

.slide4 {
  top: 500vh;
  font-weight: 600;
  z-index: 10;
  text-align:center;
  font-family:'Montserrat', sans-serif;
  font-weight:bold;
  font-size:7em;
  text-shadow: 3px 3px 10px black;
  line-height:50%;
}

.scroll-down{
  width: 50px;
  margin: 40px auto 0;
  background-color: #AA7799;
  border-radius: 1em;
  text-align: center;
  padding: 1em;
  position: relative;
  font-size: 1.2em;
  line-height: .8;
}

span{
    font-size: 4em;
    color: rgba(51,34,68,0.3)
  }
/*Styles for the Masking Image on Scroll*/

.splash-top-head {
  font-size:.2em;
  font-family: 'PT Serif', serif;
  max-width:800px;
  margin:0 auto;
}

.top-head {
  font-size:3.5em;
  font-family: 'PT Serif 400', serif;
  margin:0 auto;
  letter-spacing: 3px;
  text-shadow: 1px 1px 1px #181818;
  opacity: 1;
}

.credits {
  font-size:.8em;
}


.shadows {
  text-shadow: 3px 3px 10px black;

}


/* LINK STYLES */

a:link {
  color:#ff5f00;
    text-decoration:none;
}

a:hover {
  color: #fff;
  text-decoration:none;
}

a:visited {
  color:#ff5f00;
  text-decoration:none;
}

a:active {
  color:#B591ED;
  text-decoration:none;
}

a:link.toc-link {color:#000;}

a:visited.toc-link {color:#000;}

.big-link {font-size:1.5em;font-weight:700;}

.graphic-subhead {font-size:2em;font-weight:700;color:#fff;text-align:center;}


/* IMAGES */

.image {
  width:100%;
  padding-top:20px;
  padding-bottom:20px;
}

.hero-image{
    width:100%;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.table-images {
  float: left;
  width: 50%;
  padding: 8px;
  padding-top: 15px;
  max-width: 100%
  height: auto;
}

.toc-images {
  max-width:250px;
  padding-top:8px;
}


/* Clear floats after image containers */
.align::after {
  content: "";
  clear: both;
  display: table;
  resize: vertical;
  overflow: auto;
}

.footer-image{
  max-width:700px;
  width:80%;
}

.arrows {
  height:23px;
  width:15px;
}



/* TYPOGRAPHY */

/*splash page typography */

#credit {
  text-align:left;
  font-family: 'Montserrat', sans-serif;
  width:80%;
  margin:0 auto;
  padding-top:40px;
  padding-bottom:40px;
}

/*end splash page only typography */

.hero-text{
  font-family: 'Montserrat', sans-serif;
  font-size:.8em;
  padding-bottom:10px;
  width: 90%;
  max-width:1100px;
  margin: 0 auto;
  //text-shadow: 3px 3px 10px black;
}

.profiles {
  font-family: 'Montserrat 400', sans-serif;
  font-size:3em;
  text-transform: uppercase;
}

.hed {
  font-size:3em;
  font-family: 'Montserrat', sans-serif;
}

.top-credit{
  font-size:.8em;
}

p{
  text-align:left;
  line-height:180%;
  font-size: 1.3em;
}

.text-title{
  font-family: 'PT Serif', serif;
  font-size:3em;
  letter-spacing: 2px;
}

.text-subtitle{
  font-family: 'PT Serif', serif;
  font-size:1.7em;
}

.text-author{
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
}

.byline {
  font-size:1em;
  margin-top:-10px;
  font-family: 'Montserrat', sans-serif;
  color: #94B8E0;
}

.leftarrow {
  float:left;
  padding-right: 5px;
  padding-top: 1.5px;
}

.rightarrow {
  float:right;
  padding-left: 5px;
  padding-top: 1.5px;
}

.graphic {
  padding-top: 70px;
  padding-bottom:70px;
}

.home {
  font-size:1em;
  margin-top:-20px;
  font-family: 'Montserrat', sans-serif;
  text-align:left;
  text-transform: uppercase;
  color: #94B8E0;
}

.chapter {
  font-size:1em;
  margin-top:-10px;
  font-family: 'Montserrat', sans-serif;
  text-align:right;
  text-transform: uppercase;
}

.intro-text {
  font-family: 'PT Serif', serif;
  font-size:1.6em;
  width: 100%;
  padding-bottom:25px;
  padding-top:25px;
}

.intro-text-splash {
  font-family: 'PT Serif', serif;
  font-size:1.8em;
  width: 100%;
  padding-top:25px;
  padding-bottom:25px;
}

.chapter-head {
  font-size:2em;
  font-family: 'Montserrat', sans-serif;
  padding-top:20px;
  text-transform: uppercase;
  color: #94B8E0;
}

.small-head {
  font-size:1.5em;
  font-family: 'Montserrat', sans-serif;
}

.caption {
  width:100%;
  max-width:900px;
  margin:0 auto;
  padding-bottom:30px;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  color: black;
  text-align: center;
}

.slide-caption {
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  color:white;
  text-shadow: 6px 6px 8px #181818;
}


.map-headline {
  font-size:2em;
  font-family: 'Montserrat', sans-serif;
  padding-top:20px;
  font-weight: bold;
  color: #94B8E0;
  text-align: center;
}


.quote {
  font-family: 'Montserrat', sans-serif;
  font-size:1.7em;
  text-align: left;
  width:50%;
  margin:0 auto;
  color: #94B8E0;
  margin-top: -10.5em;
  margin-bottom: -4.1em;
}

.quote-mark {
  color: #94B8E0;
  font-size: 16em;
  font-family: 'Montserrat', sans-serif;
  padding: 0px 600px 0px 0px;
}

.quote-mark2 {
  color: #94B8E0;
  font-size: 16em;
  font-family: 'Montserrat', sans-serif;
  padding: 0px 0px 50px 500px;
}

.quote-attribution {
  font-family: 'Montserrat', sans-serif;
  font-size:1em;
  color:#94B8E0;
  margin-top: -13em;
  padding: 0px 0px 0px 400px;
}

.dropcap {
  color: #049AFF;
  float: left;
  font-family: 'Montserrat', sans-serif;
  font-size: 4em;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
  font-weight: 700;
}

.btn {
  font-family: 'Montserrat', sans-serif;
}


/* Table of Contents */

.small-head {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.lowercase {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: .8em;
}


.toc-text {
  font-family: 'PT Serif', serif;
  color:black;
  width:500px;
  max-width: 100%;
  margin-bottom:30px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 1.5em;
  text-align:left;
}

.health {
  margin-left:-311px;
}

.healthtext {
  margin-left:-311px;
  font-family: 'PT Serif', serif;
  float:left;
  max-width: 100%;
}

.orange {
  color:#ff5f00;
}

#cns {
  display: block;
  width: 30%;
}

#park {
  display: block;
  width: 50%;
}

#ona {
  display: block;
  width: 75%;
}

#merrill {
  display: block;
  width: 70%;
  padding-top:20px;
}

#acf {
  display: block;
  width: 100%;
  padding-top:20px;
}

#npr {
  display: block;
  width: 40%;
}

#way {
  display: block;
  width: 100%;
  padding-top:25px;
}

.sponsor-container {
  width:100%;
  background:#fff;
}

.sponsor-container-inside {
  width:100%;
  max-width:1000px;
  background:#fff;
  margin:0 auto;
}

.sponsor {
  max-width:200px;
  margin:0 auto;
}

.row-sponsor {
  text-align:center;
  margin-bottom:20px;
}

 .row-sponsor2 {
   margin-right: 0px!important;
  margin-left: 0px!important;
 }

 .more-stories{
   text-align:center;
   width:90%;
   max-width:900px;
 }



/* Cold page Slider graphic styles =========== */

 #slider-graphic-container {
   margin-top:70px;
   background: #181818;
   font-family: 'Montserrat', sans-serif;
   height: 400px;
   text-align: left;
   padding-top: 30px;
  border-top:1px solid #fff;
   border-bottom:1px solid #fff;
 }

#slider-graphic-container .title {
 text-transform:uppercase;
 font-weight:bold;
 font-size:1.5em;
 color: #94b8e0;
}

#slider-graphic-container .title-intro {
 text-transform:uppercase;
 font-size:1.5em;
 color: #94b8e0;
}

#slider-graphic-container .white-bold {
   color: #fff;
   font-weight:bold;
}

 #slider-graphic-container .block {
   width:90%;
   max-width: 600px;
   color:#fff;
   margin:0 auto;
 }

 #slider-graphic-container .chatter {
   line-height:140%;
 }

 #slider-graphic-container .next-div {display:none;}

 #slider-graphic-container #block2 {
   text-align: left;
 }


 #slider-graphic-container .button {
   width:200px !important;
   height:40px !important;
   padding-top:10px !important;
   padding-bottom:10px !important;
   background: #94b8e0;
   cursor: pointer !important;
   margin:0 auto !important;
   text-align: center !important;
 }


 #slider-graphic-container .button:hover {
   background:#fff !important;
   color: #94b8e0 !important;
 }

 .child1, .child2, .child3, .child4, .child5 {display:none;}

 #slider-graphic-container .icon {
   width: 35px;
   padding-right: 10px;
 }



 @media (max-width:600px) {

   .hide600 {
      display:none;
   }

}


 @media (max-width:500px) {

   #slider-graphic-container .title {
    font-size:1em;
   }

   #slider-graphic-container .title-intro {
    font-size:1 em;
   }

   #slider-graphic-container .title-intro {
    font-size:1 em;
   }


   #slider-graphic-container {
     height: 475px;
   }



}



/* Twitter and Facebook icon styles =========== */

#social-icons {
  padding-top: 10px;
}

.icon-twitter, .icon-facebook {
  margin-right:10px;
  font-size:2.2em;
  color:#ff5f00;
  cursor: pointer;
}

#social-icons-story{
  float: left;
}

.icon-twitter-story, .icon-facebook-story {
  margin-right:10px;
  font-size:2.2em;
  color:#ff5f00;
  cursor: pointer;
  float:left;
}

.fas fa-chevron-circle-down{
  margin-right:10px;
  font-size:2.2em;
  cursor: pointer;
}

.back-button{
  font-size: 2.5rem;
  text-align: left;
}

.back-button-text{
  font-size: 1.7rem;
  padding-left: 10px;
  display:inline-block;
}


.icon-twitter:hover, .icon-facebook:hover {
  color:#cdcdcd;

}

@font-face {
  font-family: 'icons';
  src:url('../icons/icons.eot?fylnot');
  src:url('../icons/icons.eot?#iefixfylnot') format('embedded-opentype'),
    url('../icons/icons.woff?fylnot') format('woff'),
    url('../icons/icons.ttf?fylnot') format('truetype'),
    url('../icons/icons.svg?fylnot#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-twitter:before {
  content: "\e621";
}
.icon-facebook:before {
  content: "\e620";
}





/* RESPONSIVE */


@media (max-width:800px) {
  .hero-text {
    font-size:2em;
    line-height:120%;
    text-shadow: 3px 3px 10px black;
  }

  .top-head {
    font-size:.5em;
    padding-bottom:20px;
  }

  .headline-container-slide {
    top: -80vh;
  }

  .slide {
    font-weight: 600;
    font-size: 1.5em;
    position:absolute;
    left: 5%;
    margin:0 auto;
    z-index: 10;
    width:90%;
  }

  .slide4 {
    font-size:5em;
    line-height:100%;
    font-weight:bold;
  }

  .splash-top-head {
    font-size:.25em;
  }

}


@media (max-width:670px) {

  .hero-text {
    font-size:1.5em;
  }

  .container {
    text-align:center;
    padding-left: 3em;
    padding-right: 3em;
    width:100%;
  }

  .chapter-head {
      font-size: 1.5em;
  }

  .quote {
    font-size: 1em;
    width:90%;
    margin-top:-50px;
    margin-bottom:0px;
  }

  .quote-mark {
    font-size: 5em;
  }

  .quote-mark2 {
    font-size: 5em;
  }

  .quote-attribution {
    font-size: 1em;
    padding: 0px 0px 0px 100px;
    margin-top:-50px;
  }

  #cns-logo {
    width:40px;
    margin-left:-20px;
  }

  p, .intro-text, .intro-text-splash {
    font-size:1em;
  }

  h3 {
    padding-top:10px;
  }

  .table-images {
    float:none;
    width:100%;
  }

  .embed-container {
    padding:0px;
    }

  .byline {
    font-size:.7em;
  }

}



@media (max-width:500px) {

  .hero-text {
    font-size:1em;
    line-height:120%;
  }

  .top-head{
    font-size:.3em;
    //text-shadow: none;
  }

  .slide {
      font-size: 1.25em;
  }

  .slide4 {
    font-size:3em;
    line-height:100%;
    font-weight:bold;
  }

  .splash-top-head {
    font-size:.2em !important;
  }

  .main_image {
    width: 350px;
    height: auto;
  }

}


@media (max-width:400px) {

  .container {
    padding-left: 1em;
    padding-right: 1em;
    width:100%;
  }

}
