
/* MAIN STORY CONTAINER ELEMENTS */

.photo-credit {
  width:100%;
  max-width:900px;
  margin:0 auto;
  padding-bottom:30px;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  color: black;
  text-align: left;
}


/* SPONSORS ELEMENTS */

#cns {
  display: block;
  width: 30%;
}

#park {
  display: block;
  width: 50%;
}

#ona {
  display: block;
  width: 75%;
}

#merrill {
  display: block;
  width: 70%;
  padding-top:20px;
}

#acf {
  display: block;
  width: 100%;
  padding-top:20px;
}

#npr {
  display: block;
  width: 40%;
}

#way {
  display: block;
  width: 100%;
  padding-top:25px;
}


@media only screen and (max-width: 1100px) {
  #social-bar {
    display: none;
  }
  .img-logo{
    display: none;
  }

}
