
/* MAIN STORY CONTAINER ELEMENTS */

.main-header{
  font-family: 'Montserrat', sans-serif;
  font-size: .6em;
  color: white;
  font-weight: 600;
  max-height: 70vh;
  margin-bottom: 10px;
}

.main-story-header{
  font-size:3.5em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  letter-spacing: 3px;
  max-height: 70vh;
  background: black;
  width: 60%;
  margin: 0 auto;
}

.main-hero-text{
  font-family: 'Montserrat', sans-serif;
  font-size:1em;
  padding-bottom:10px;
  width: 90%;
  max-width:1100px;
  margin: 0 auto;
  //text-shadow: 3px 3px 10px black;
  max-height: 70vh;
  font-weight: normal;
}

.photo-credit {
  width:100%;
  max-width:900px;
  margin:0 auto;
  padding-bottom:30px;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  color: black;
  text-align: left;
}

.red{
  color:#FF1F0D;
}
/* SPONSORS ELEMENTS */

#cns {
  display: block;
  width: 30%;
}

#park {
  display: block;
  width: 50%;
}

#ona {
  display: block;
  width: 75%;
}

#merrill {
  display: block;
  width: 70%;
  padding-top:20px;
}

#acf {
  display: block;
  width: 100%;
  padding-top:20px;
}

#npr {
  display: block;
  width: 40%;
}

#way {
  display: block;
  width: 100%;
  padding-top:25px;
}


@media only screen and (max-width: 1100px) {
  #social-bar {
    display: none;
  }
  .img-logo{
    display: none;
  }

}


@media(max-width:1300px){

  .main-story-header {
    font-size:3em;
  }

  .main-header {
    font-size:.55em;
  }

  .main-hero-text {
    font-size:.8em;
  }

}

@media(max-width:1050px){

  .main-story-header {
    font-size:2.5em;
  }

  .main-header {
    font-size:.35em;
  }

  .main-hero-text {
    font-size:.6em;
  }

}

@media(max-width:500px) {

  .main-story-header{
    font-size:2em;
  }

  .main-header {
    font-size:.35em;
  }

  .main-hero-text {
    font-size:.4em;
  }
}
